@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/**
 * ----------------------------------------
 * START OF GSAP ANIMATIONS
 * ----------------------------------------
 */

.slideInLeft {
    opacity: 0;

    &.slide-in-left {
        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

.slideInRight {
    opacity: 0;

    &.slide-in-right {
        animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

.slideInBottom {
    opacity: 0;

    &.slide-in-bottom {
        animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

.scaleInCenter {
    opacity: 0;

    &.scale-in-center {
        animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

.slideInBottomStagger {
    visibility: hidden;
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */

@keyframes slide-in-left {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */

@keyframes slide-in-right {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */

@keyframes slide-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

